<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.telenav.scoutivi.espeak"/>
        <intent >
            <action android:name="com.telenav.scoutivi.tts.PHONEME_SERVICE"/>
        </intent>
    </queries>
</manifest>